<h2>Show guest</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @guest.name %>
  </li>

  <li>
    <strong>Coming:</strong>
    <%= @guest.coming %>
  </li>

  <li>
    <strong>Plusone:</strong>
    <%= @guest.plusone %>
  </li>

  <li>
    <strong>User:</strong>
    <%= @guest.user_id %>
  </li>

</ul>

<%= link "Edit", to: guest_path(@conn, :edit, @guest) %>
<%= link "Back", to: guest_path(@conn, :index) %>
