<h2>Show guest</h2>

<ul>

  <li>
    <strong>Guest of:</strong>
    <%= @users[@guest.user_id] %>
  </li>

  <li>
    <strong>Name:</strong>
    <%= @guest.name %>
  </li>

  <li>
    <strong>Coming:</strong>
    <%= if @guest.coming do "Yes" else "Unconfirmed" end %>
  </li>

  <li>
    <strong>Plusone:</strong>
    <%= @guest.plusone %>
  </li>

</ul>

<%= link "Edit", to: guest_path(@conn, :edit, @guest) %>
<%= link "Back", to: guest_path(@conn, :index) %>
